services:
 eshopdb:
  container_name: eshopdb
  environment:
   - POSTGRES_USER=posgres
   - POSTGRES_PASSWORD=posgres
   - POSGRES_DB=EShopDb
  restart: always
  ports:
   - "5432:5432"
  volumes:
   - postgres_eshopdb:/var/lib/postgresql/data